:host{
	display: flex;
	height: min-content;
	width: max-content;
	white-space: nowrap;
	padding: 0 6px;
	cursor: pointer;
	user-select: none;

	border: 1px solid gray;
	border-radius: 2px;
	margin: 4px;

	&:hover{

	}

	&.active{
		color: #ec1f5d;
	}
}
