<div class="container">
	<div class="stat">
		<!--Total-->
		<div class="total group">
			<span class="value">{{numberOfFiles}}</span>
			<span class="label">files</span>
			<span class="value">{{listOfMovies.length}}</span>
			<span class="label">movies</span>
		</div>

		<!--Year-->
		<div class="year">
			<div>{{averageYear | number: '0.0-0' | noComma}}</div>
		</div>

		<!--Size-->
		<div *ngIf="averageSize">
			<ui-file-size [size]="averageSize"></ui-file-size>
		</div>

		<!--Title-->
		<div class="title group">
			<span class="value">{{enName.length}}</span>
			<span class="label">en</span>
			<span class="value">{{rusName.length}}</span>
			<span class="label">ru</span>
			<span class="value">{{movies3d}}</span>
			<span class="label">3D</span>
		</div>

		<!--Plex JSON-->
		<div class="plex" *ngIf="plex">
			<div>Plex</div>
			<div>{{plex.length}} <!--total json items--></div>
			<div>{{numberOfItemsPlexInData}}<!--not show--></div>
		</div>

		<!--OMDB JSON-->
		<div class="omdb" *ngIf="omdb">
			<div>Omdb</div>
			<div>{{omdb.length}} <!--total json items--></div>
			<div>{{numberOfItemsOmdbInData}}<!--not show--></div>
		</div>


	</div>
	<div class="sort">
		<div class="material-icons total"></div>
		<div class="material-icons year"  (click)="onSortByYear()">swap_vert</div>
		<div class="material-icons size"  (click)="onSortBySize()">swap_vert</div>
		<div class="material-icons title" (click)="onSortByTitle()">swap_vert</div>
		<div class="material-icons plex" (click)="onSortPlex()">swap_vert</div>
		<div class="material-icons omdb" (click)="onSortOmdb()">swap_vert</div>
	</div>
	<div class="tab">

		<ng-container *ngFor="let group of listOfMovies; let i = index">
			<div class="row" *ngFor="let item of group.nas; let j = index">
				<div class="number">{{j === 0 ? i + 1 + '.' : ''}}</div>
				<div class="year">{{j === 0 ? item.year : ''}}</div>
				<ui-file-size [size]="item.size"></ui-file-size>
				<div class="title-box">
					<span>{{group.plex?.title || item.title}}</span>
					<span class="tag" *ngFor="let tag of item.tags">{{tag}}</span>
				</div>


				<div class="json_plex" [ngClass]="{'no_json': group?.plex === null}">{{group.plex === null ? 'N/A' : '+'}}</div>
				<div class="json_omdb" [ngClass]="{'no_json': group?.omdb === null}">{{group.omdb === null ? 'N/A' : '+'}}</div>

				<span *ngIf="group?.omdb === null" class="download" (click)="getOmdbJson(group)">DOWNLOAD</span>
				<span *ngIf="group?.omdb === null" class="download" (click)="saveOmdbJson(group)">SAVE</span>
			</div>
		</ng-container>

	</div>
</div>

<div class="data">
	<ng-container *ngIf="omdbDownload | async">
		<img src="{{(omdbDownload | async)?.Poster}}" alt="">
		<div><span class="label">Title:</span><span class="value"></span>{{(omdbDownload | async)?.Title}}</div>
		<div><span class="label">Year:</span><span class="value"></span>{{(omdbDownload | async)?.Year}}</div>
		<div><span class="label">Imdb:</span><span class="value"></span>{{(omdbDownload | async)?.imdbRating}}</div>
		<div><span class="label">Metascore:</span><span class="value"></span>{{(omdbDownload | async)?.Metascore}}</div>
	</ng-container>
</div>
