
:host {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;

	.posters-container {
		overflow: auto;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
		justify-items: center;
		column-gap: 10px;
		row-gap:    10px;

		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}








}
