


<ng-container *ngIf="rangeThumb && rangeSlider">

	<mat-checkbox (change)="onCheckbox($event)"  #checkbox></mat-checkbox> <!--checkbox.checked-->

	<div class="input-box">
		<input type="text" [value]="thumbmin?.value">
		<input type="text" [value]="thumbmax?.value">
	</div>

	<mat-slider
		[min]="rangeSlider.min"
		[max]="rangeSlider.max"
		[step]="step"
		[discrete]="false"
		[showTickMarks]="false"
	>
		<input [value]="rangeThumb.min" matSliderStartThumb (dragEnd)="updateValue($event, 'min')" #thumbmin>
		<input [value]="rangeThumb.max" matSliderEndThumb   (dragEnd)="updateValue($event, 'max')" #thumbmax>
	</mat-slider>


</ng-container>

