:host{
	height: min-content;
	display: grid;
	grid-template-columns: min-content	auto;
	grid-template-rows: min-content min-content;
	column-gap: 12px;

	mat-checkbox{
		grid-column: 1/2;
		grid-row: 1/3;
		padding-top: 30px;
	}

	.input-box{
		display: flex;
		flex-direction: row;
		column-gap: 12px;
		justify-content: space-between;
		grid-column: 2/3;
		grid-row: 1/2;

		input{
			width: 120px;
			outline: none;
			background-color: transparent;
			padding: 2px 12px;
			border: none;
			color: #465886;
			text-align: center;
			font-size: 18px;

			&::selection {
				// color: red;
				background: #2f3033;
			}
		}
	}

	mat-slider{
		grid-column: 2/3;
		grid-row: 2/3;
	}
}
