

<div class="label-title">
	<span class="text-strong">Y</span>
	<span class="text-soft">ear</span>
</div>

<div class="label-slider">
	<span class="min">
		<span class="text-soft">19</span>
		<span class="text-strong">59</span>
	</span>
	<span class="max">
		<span class="text-soft">20</span>
		<span class="text-strong">25</span>
	</span>
</div>

<div class="input-box" [formGroup]="form">
	<input class="min" [value]="1959" formControlName="min">
	<span class="line">-</span>
	<input class="max" [value]="2025" formControlName="max">
</div>

<div class="slider-box" #sliderBox>

	<div class="thumb"
		 #thumbMin
		 dir-draggable
		 [value]="100"
		 [minX]="0"
		 [maxX]="336"
		 (drag)="onThumbDrag($event, 'min')"
	></div>

	<div
		class="thumb"
		#thumbMax
		dir-draggable
		[value]="200"
		[minX]="0"
		[maxX]="336"
		(drag)="onThumbDrag($event, 'min')"
	></div>

	<div class="selected-line"
		 cdkDrag
		 cdkDragLockAxis="x"
		 cdkDragBoundary=".slider-box"
		 [ngStyle]="{left: getLineLeft() + 'px',width: getLineWidth() + 'px'}"
		 (cdkDragStarted)="onLineDragStart($event)"
		 (cdkDragMoved)="onLineMoved($event)"
	></div>
	<div class="line"></div>
</div>



































