












<div class="label-title">
	<span class="text-strong">Y</span>
	<span class="text-soft">ear</span>
	<span class="test">{{getLineLeft() | number: '0.0-0'}}</span>
	<span class="test">-</span>
	<span class="test">{{getThumbLeft('max') | number: '0.0-0'}}</span>
</div>

<div class="label-slider">
	<span class="min">
		<span class="text-soft">19</span>
		<span class="text-strong">59</span>
	</span>
	<span class="max">
		<span class="text-soft">20</span>
		<span class="text-strong">25</span>
	</span>
</div>

<div class="input-box" [formGroup]="form">
	<input class="min" [value]="1959" formControlName="min">
	<span class="line">-</span>
	<input class="max" [value]="2025" formControlName="max">
</div>

<div class="slider-box" #sliderBox>

	<div class="thumb"
		 #thumbMin
		 cdkDrag
		 cdkDragBoundary=".slider-box"
		 cdkDragLockAxis="x"
		 (cdkDragMoved)="onMoved($event, 'min')"
	></div>

	<div
		class="thumb"
		#thumbMax
		cdkDrag
		cdkDragBoundary=".slider-box"
		cdkDragLockAxis="x"
		(cdkDragMoved)="onMoved($event, 'max')"
	></div>

	<div class="selected-line"
		 cdkDrag
		 cdkDragLockAxis="x"
		 cdkDragBoundary=".slider-box"
		 [ngStyle]="{left: getLineLeft() + 'px',width: getLineWidth() + 'px'}"
		 (cdkDragStarted)="onLineDragStart($event)"
		 (cdkDragMoved)="onLineMoved($event)"
	></div>
	<div class="line"></div>
</div>




















































