:host {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto min-content;
	grid-template-rows: auto;

	background-color: #1f2023;
	color: #5d5d5d;
	padding-left: 48px;

	/* Animation */
	transition: width 1000ms ease;
	&.reduced {
		grid-template-columns: calc(100% - 600px) min-content;
	}


	.content{
		width: 100%;
		height: 100%;
		overflow: hidden;

		display: grid;
		grid-template-columns: auto;
		grid-template-rows:  auto;



		.header{
			padding-top: 24px;
			padding-bottom: 24px;
			.menu-bar{
				display: flex;
				column-gap: 24px;
				.menu-button{
					cursor: pointer;
					user-select: none;
					color: #646464;
					&.active{
						color: #e0115b;
					}
					&:hover:not(.active){
						color: #7e7e7e;
					}
					&:active:not(.active){
						color: #a8a8a8;
					}

				}
			}
		}

		.page-content{
			overflow: auto;
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			width: 100%;
			height: 100%;
		}
	}

	.utils{

	}

}
