



<div class="content" [class.reduced]="isFilterAnimating">

	<div class="header">
		<div class="menu-bar">
			<div class="menu-button" routerLink="/list"   routerLinkActive="active" ariaCurrentWhenActive="page">LIST</div>
			<div class="menu-button" routerLink="/temp"   routerLinkActive="active" ariaCurrentWhenActive="page">TEMP</div>
			<div class="menu-button" routerLink="/poster" routerLinkActive="active" ariaCurrentWhenActive="page">POSTER</div>
			<div class="menu-button" (click)="onFilter()">FILTER</div>

			<div class="menu-button" >total: {{(movies$ | async)?.length}}</div>
		</div>
	</div>

	<div class="page-content">
		<router-outlet />
	</div>

</div>



<div class="utils" [class.reduced]="isFilterAnimating">
		<ui-filters @myInsertRemoveTrigger
					*ngIf="showFilterPanel$ | async"
					(@myInsertRemoveTrigger.done)="onAnimationDone($event)"
		></ui-filters>
</div>





































