



<div class="content">

	<div class="header">
		<div class="menu-bar">
			<div class="menu-button" routerLink="/list"   routerLinkActive="active" ariaCurrentWhenActive="page">LIST</div>
			<div class="menu-button" routerLink="/poster" routerLinkActive="active" ariaCurrentWhenActive="page">POSTER</div>
			<div class="menu-button" (click)="onFilter()">FILTER</div>
		</div>
	</div>

	<div class="page-content">
		<router-outlet />
	</div>

</div>



<div class="utils">
		<ui-filters @myInsertRemoveTrigger *ngIf="showFilterPanel$ | async"></ui-filters>
</div>





































